@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.navbar a {
  font-weight: 600;
  font-size: 18px;
}

.carousel-item {
  min-height: 400px;
}

.carousel-caption {
  bottom: 220px;
  z-index: 2;
}

.carousel-caption h5 {
  font-size: 70px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 25px;
}

.carousel-caption p {
  width: 60%;
  margin: 10px auto;
  font-size: 18px;
}

.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0, 4);
  z-index: 1;
}

.mision {
  padding: 80px 0;
}

.bg-mision1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(img/m1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-mision2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(img/m2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-mision3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(img/m3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-icons i {
  font-size: 40px;
}

.box-icons h3 {
  font-size: 20px;
  font-weight: 800;
}

.service {
  padding: 30px 0;
}

.card img {
  width: 150px;
  height: 150px;
}

.banner {
  padding: 50px 0;
  margin-bottom: 80px;
  background-color: #eae5df;
}

.banner h2 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 30px;
}

.cta {
  margin-top: 50px;
}

.cta h2 {
  font-weight: 800;
}

.cta p {
  padding: 25px;
}

.contact {
  margin-top: 100px;
}

.contact p {
  padding: 30px;
}

.nosotros {
  background-color: #eae5df;
  height: 100vh;
}

.nosotros h2 {
  padding: 5px;
  margin-bottom: 50px;
  font-size: 50px;
}

.nosotros p {
  padding: 10px;
  margin-bottom: 5px;
}

.servicios {
  background-color: #eae5df;
  height: auto;
}

.servicios h2 {
  padding: 15px;
  margin: 100px 0px 50px 0px;
  font-size: 50px;
}

.servicios p {
  padding: 15px;
  margin-bottom: 5px;
}

footer {
  margin-top: auto;
}
